@font-face {
  font-family: "linea-arrows-10";
  src: url("./bower_components/makers_styles/source/fonts/linea-arrows-10.eot");
  src: url("./bower_components/makers_styles/source/fonts/linea-arrows-10.eot?#iefix") format("embedded-opentype"), url("./bower_components/makers_styles/source/fonts/linea-arrows-10.woff") format("woff"), url("./bower_components/makers_styles/source/fonts/linea-arrows-10.ttf") format("truetype"), url("./bower_components/makers_styles/source/fonts/linea-arrows-10.svg#linea-arrows-10") format("svg");
  font-weight: normal;
font-style: normal; }

